{% extends 'AppCore/Base.html' %}
{% load static %}
{% block NombrePestania %}
{{clave_cabecera_template}}
{% endblock %}


{% block contenido %}
{% include 'AppBlog/CrearEntrada.html' %}
  {% for post in clave_posts_template %}
	<div class="container marketing">
	<hr class="featurette-divider">
	<div class="row featurette">
	  <div class="col-md-7">
	  	<span class="section-heading-upper">{{post.published|date:"SHORT_DATE_FORMAT"}}</span>
	    <h2 class="featurette-heading"><span class="text-muted">{{post.title}}</span></h2>
	    <p class="lead">{{post.content|safe}}</p>
	    <span class="section-heading-under">Publicado por<em><b> {{post.author}} </b></em> en 
		    {% for category in post.categories.all %}
		    <a href="{% url 'name-categoria' category.id %}" class="link">{{category.name}}</a>
		    		{% if not forloop.last %}
		    			,
		    		{% endif %}
		    {% endfor %}
	    </span>
	  </div>
	  <div class="col-md-5">
	  	{% if post.image %}
	  		<img class="featurette-image img-fluid mx-auto" src="{{post.image.url}}" alt="Generic placeholder image">
	  	{% else %}
	   		<img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
	   	{% endif %}
	  </div>
	</div>
	</div>
  {% endfor %}
{% endblock %}