{% if request.user.is_staff or request.user.is_authenticated %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nep" aria-controls="nep" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nep">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        
          <a class="nav-link" href="{% url 'name-CrearFPBajo' %}"><i>Crear filtro paso bajo</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i>Crear filtro paso alto</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i>Crear filtro paso banda</i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endif %}
