{% extends 'AppCore/Base.html' %}

{% block NombrePestania %}
{{clave_nombre_pestania}}
{% endblock %}


{% block contenido %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<div class="container marketing">
	
		<hr class="featurette-divider">
		<div class="row featurette">
		  <div class="col-md-7">
		    <h2 class="featurette-heading"><span class="text-muted">ISRAEL ARNEDO</span></h2>
		    <p class="lead">CV</p>
		  </div>
		</div>
		
		<hr class="featurette-divider">
		<div class="row featurette">
		  <div class="col-md-7">
		    <h2 class="featurette-heading"><span class="text-muted">JON MIKEL</span></h2>
		    <p class="lead">CV</p>
		  </div>
		</div>


		<hr class="featurette-divider">
		<div class="row featurette">
		  <div class="col-md-7">
		    <h2 class="featurette-heading"><span class="text-muted">SERGIO LÓPEZ</span></h2>
		    <p class="lead">CV</p>
		  </div>
		</div>
		
	<hr class="featurette-divider">	
	</div>
{% endblock %}