{% extends 'AppCore/Base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block NombrePestania %}
{{clave_nombre_pestania}}
{% endblock %}


{% block contenido %}
{% include 'AppFiltrosCore/BarraCrearEntradaFiltros.html' %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<div class="container marketing">
	     	<form id="VariablesFPBajo">
	     		{% csrf_token %}
	     		<div id=nameFilter class="container">
	     			{{clave_variablesFPBajo_template.nameFilter|as_crispy_field}}
	     			{{clave_en_template.name.errors}}
	     		</div>
	     		<p></p>
	     		
	     		<div id=Ap_db class="container">
	     			{{clave_variablesFPBajo_template.Ap_db|as_crispy_field}}
	     			{{clave_en_template.name.errors}}
	     		</div>
	     		<p></p>
	     		
	     		<div id=As_db class="container">
	     			{{clave_variablesFPBajo_template.As_db|as_crispy_field}}
	     			{{clave_en_template.name.errors}}
	     		</div>
	     		<p></p>

	     		<div id=Fp_Hz class="container">
	     			{{clave_variablesFPBajo_template.Fp_Hz|as_crispy_field}}
	     			{{clave_en_template.name.errors}}
	     		</div>
	     		<p></p>

	     		<div id=Fs_Hz class="container">
	     			{{clave_variablesFPBajo_template.Fs_Hz|as_crispy_field}}
	     			{{clave_en_template.name.errors}}
	     		</div>
	     		<p></p>

	     		<div id=Rg_Ohm class="container">
	     			{{clave_variablesFPBajo_template.Rg_Ohm|as_crispy_field}}
	     			{{clave_en_template.name.errors}}
	     		</div>
	     		<p></p>
	     		
	     		<div id=Rl_Ohm class="container">
	     			{{clave_variablesFPBajo_template.Rl_Ohm|as_crispy_field}}
	     			{{clave_en_template.name.errors}}
	     		</div>
	     		<p></p>
	     		
	     		<input type="submit" class="btn btn-lg btn-primary" value="Enviar">
	     	</form>	
	</div>  	

{% endblock %}



<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>
</body>
<script>
    var chatSocket = new WebSocket('ws://' + window.location.host + "/filtros/Crear_FPB/");
    
    <!-- recibe mensaje del backend al frontend  -->
    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        document.querySelector('#chat-log').value += (message + '\n');
    };
    
    
    <!-- socket cerrar -->
    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
    
    
    
    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };
    
    <!-- envio mensaje del frontend al backend -->
    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        console.log(message)
        chatSocket.send(JSON.stringify({
            'message': message
        }));
        messageInputDom.value = '';
    };
    
    
</script>
</html>
